<div class="container">
    <header
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between border-bottom">
      <div class="col-md-3 mb-2 mb-md-0"><a href="#">
        <img src="../../assets/logo.png" height="150px" width="150px" />
        </a>
      </div>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a style="color: #333333;" href="#" class="nav-link px-4link-secondary">Home</a></li>
        <li><a style="color: #333333;" href="#" class="nav-link px-4">Reverse Photo Search</a></li>
        <li><a style="color: #333333;" href="resources" class="nav-link px-4">Resources</a></li>
        <!-- <li><a href="#" class="nav-link px-2">FAQs</a></li>
        <li><a href="#" class="nav-link px-2">About</a></li> -->
      </ul>

      <!-- <div class="col-md-3 text-end">
        <button type="button" class="btn btn-outline-primary me-2">Login</button>
        <button type="button" class="btn btn-primary">Sign-up</button>
      </div> -->
    </header>
  </div>
