<!-- <div class="fixed-bottom container bg-dark">
    <footer class="fixed-bottom bg-dark d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      
  
      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3"><a class="text-body-secondary" href="#" aria-label="Instagram"><svg class="bi" width="24" height="24" aria-hidden="true"><use xlink:href="#instagram"/></svg></a></li>
        <li class="ms-3"><a class="text-body-secondary" href="#" aria-label="Facebook"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"/></svg></a></li>
      </ul>
    </footer>
  </div> -->


  <div class="footer">
    <div class="col-md-4 d-flex align-items-center">
        
        <span class="mb-3 mb-md-0 text-body-secondary">Made with &#9829; at WildHacks 2025</span>
      </div>
  </div>