<div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="search-container">
          <h2 class="animated-heading">🌱 Not sure what to grow? Ask our AI based on where you live.</h2>

          <div class="input-wrapper mt-4">
            <input type="text" class="form-control search-input" placeholder="Which city do you live in?" [(ngModel)]="searchInput">
            <i class="fas fa-search search-icon"></i>
          </div>

          <div class="text-center mt-3">
            <button class="btn btn-lg btn-primary custom-btn" type="submit" (click)="Search()">Search</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <div class="container mt-4">
    <div class="row">
      <div class="col-sm mb-4" *ngFor="let element of searchResultsArray; let i = index">
        <button class="button-55" role="button" (click)="plantClicked(i)">{{element}}</button>
      </div>
    </div>
  </div>
  <!-- <img src="../../assets/1.jpeg" height="300px" width="460px" style="margin-right: 20px;" />
  <img src="../../assets/2.jpeg" height="300px" width="500px" style="margin-right: 20px;" />
  <img src="../../assets/3.jpeg" height="300px" width= "500px" style="margin-right: 20px;" /> -->
</div>
