<div class="b-example-divider"></div>

  <div class="container px-4 py-5">
    <h2 class="pb-2 border-bottom">Guide to grow {{plantName}}</h2>

    <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
      <div class="col d-flex flex-column align-items-start gap-2">
        <h3 class="fw-bold text-body-emphasis">{{punDescription}} <img src="../../assets/lol.png" height="50px" width="50px" /></h3>
        <p class="text-body-secondary">{{shortDescription}}</p>
       
      </div>

      <div class="col">
        <div class="row row-cols-1 row-cols-sm-2 g-4">
          <div class="col d-flex flex-column gap-2">
            <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                <div class="progress-container" [ngStyle]="{'background': progressStyle}">
                    <div class="progress-inner">
                      <div class="sun-icon">☀️</div>
                      <div>{{ sunlight }} Hours</div>
                    </div>
                  </div>
            </div>
            <h5 class="fw-semibold mb-0 text-body-emphasis">{{plantName}} needs {{sunlight}} hours of sunlight in a day.</h5>
            <p class="text-body-secondary">Max: 12 hours of sunlight in a day.</p>
          </div>

         


        </div>
      </div>
    </div>
  </div>

  
  <div class="container px-4 py-1">
    <div class="p-1 mb-3 bg-body-tertiary rounded border-bottom">
        <h4 class="fst-italic">Step by step</h4>
       
    </div>
    <div class="p-4 mb-3 bg-body-tertiary rounded border-bottom">
        <h5>Timing</h5>
        <p>{{bestMonthToSow}}: {{sowInstructions}}</p>
    </div>
    <div class="p-4 mb-3 bg-body-tertiary rounded border-bottom">
        <h5>Soil</h5>
        <p>Type of soil: {{typeOfSoil}}</p>
        <p>Soil pH: {{soilpH}}</p>
    </div>
    <div class="p-4 mb-3 bg-body-tertiary rounded border-bottom">
        <h5>Planting</h5>
        <p>Sowing: Direct/Indirect</p>
        <p>Depth: Direct/Indirect</p>
        <p>Germination: Direct/Indirect</p>
    </div>
    <div class="p-4 mb-3 bg-body-tertiary rounded border-bottom">
        <h5>Watering</h5>
        <p>Sowing: Direct/Indirect</p>
        <p>Depth: Direct/Indirect</p>
        <p>Germination: Direct/Indirect</p>
    </div>
  </div>