<div class="b-example-divider"></div>

  <div class="container px-4 py-5">
    <h2 class="pb-2 border-bottom">Guide to grow {{message}}</h2>

    <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
      <div class="col d-flex flex-column align-items-start gap-2">
        <h2 class="fw-bold text-body-emphasis">{{punDescription}} <img src="../../assets/lol.png" height="50px" width="50px" /></h2>
        <p class="text-body-secondary">{{shortDescription}}</p>
        <a href="#" class="btn btn-primary btn-lg">Primary button</a>
      </div>

      <div class="col">
        <div class="row row-cols-1 row-cols-sm-2 g-4">
          <div class="col d-flex flex-column gap-2">
            <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                <div class="progress-container" [ngStyle]="{'background': progressStyle}">
                    <div class="progress-inner">
                      <div class="sun-icon">☀️</div>
                      <div>{{ sunlight }} Hours</div>
                    </div>
                  </div>
            </div>
            <h5 class="fw-semibold mb-0 text-body-emphasis">{{message}} needs {{sunlight}} hours of sunlight in a day.</h5>
            <p class="text-body-secondary">Max: 12 hours of sunlight in a day.</p>
          </div>

          <div class="col d-flex flex-column gap-2">
            <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
              <svg class="bi" width="1em" height="1em" aria-hidden="true">
                <use xlink:href="#gear-fill" />
              </svg>
            </div>
            <h4 class="fw-semibold mb-0 text-body-emphasis">Featured title</h4>
            <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading.</p>
          </div>


        </div>
      </div>
    </div>
  </div>